<% include partials/header %>

<div class="container">
    <div class="jumbotron padder">
        <div class="row">
            <div class="col-sm-3">
                <h2 class=""><a href="/"><i class="material-icons">keyboard_backspace</i> Tillbaka</a></h2>
            </div>
            <div class="col-sm-6">
                <h2 class="text-center">Salthistorik för: <strong> insert here</strong></h2>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">SummonerLevel: <strong> 2323</strong></h4>
            </div>
        </div>

    </div>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col">SummonerIcon</th>
                <th class="text-center" scope="col">SummonerName</th>
                <th class="text-center" scope="col">Realm</th>
                <th class="text-center" scope="col">SummonerLevel</th>
            </tr>
        </thead>
        <tbody>
            <% accountInfo.accounts.forEach(function(account) { %>
                <tr>
                    <td class="text-center align-middle"><img width="80" height="80" src="http://ddragon.leagueoflegends.com/cdn/<%= accountInfo.version %>/img/profileicon/<%= account.profileIconId %>.png"></td>
                    <td class="text-center align-middle"><h3><%= account.name %></h3></td>
                    <td class="text-center align-middle"><h3><%= account.realm %></h3></td>
                    <td class="text-center align-middle"><h3><%= account.summonerLevel %></h3></td>
                    <td class="align-middle text-center">
                        <form class="" action="/summoner/<%= account.realm %>/<%=account.name%>" method="get">
                            <button class="btn btn-info">Profile</button>
                        </form>
                    </td>
                </tr>
            <% }); %>

        </tbody>
    </table>
</div>

<% include partials/footer %>
