<% include partials/header %>
<div class="container">
    <div class="jumbotron padder">
        <div class="row">
            <div class="col-sm-3">
                <h2 class=""><a href="/search/<%= summonerName %>"><i class="material-icons">keyboard_arrow_left</i> Alla profiler</a></h2>
            </div>
            <div class="col-sm-6">
                <h2 class="text-center">Profilinformation för: <strong><%= summonerName %></strong>(<%= realm %>)</h2>
            </div>
            <div class="col-sm-3">
                <h2 class="text-right"><a href="/summoner/<%= realm %>/<%= summonerName %>/matchhistory">history <i class="material-icons">keyboard_arrow_right</i></a></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 load">

            </div>
        </div>

    </div>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col">ChampionImage</th>
                <th class="text-center" scope="col">championName</th>
                <th class="text-center" scope="col">lvl</th>
                <th class="text-center" scope="col">LastPlayed</th>
            </tr>
        </thead>
        <tbody class="load">

        </tbody>
    </table>
</div>

<script type="text/javascript">
    var realm = "<%= realm %>";
    var summonerName = "<%= summonerName %>";
    var accountId = "<%= accountId %>";

    var container = document.querySelectorAll(".load");

    var request = new XMLHttpRequest();
    request.open('GET', `http://192.168.2.231:3000/summoner/${realm}/${summonerName}/json?accountid=${accountId}`, true);
    request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
            data = JSON.parse(this.response);
            if(data.error) {
                container[1].innerHTML = `<h1>Ingen data</h1>`;
            } else {
                container[0].innerHTML = `
                    <h4 class="text-center">SummonerLevel: <strong class="load">${data.accountData.summonerLevel}</strong></h4>
                    <h4 class="text-center">totalMasteryLevel: <strong class="load">${data.totalMasteryLevel}</strong></h4>
                `;
                load(data, container[1]);
            }
        } else {
            container[1].innerHTML = `<h1>Något Gick fel</h1>`;
        }
    }
    request.send();

    function load(data, container) {
    var content = "";
    data.championMasteries.forEach(function(champion) {
        content += `
            <tr>
                <td class="text-center align-middle"><img height="80" width="80" src="http://ddragon.leagueoflegends.com/cdn/${data.version}/img/champion/${champion.champion.image.full}"></td>
                <td class="text-center align-middle"><h3>${ champion.champion.name}</h3></td>
                <td class="text-center align-middle"><h3>${ champion.championLevel}</h3></td>
                <td class="text-center align-middle"><h3>${ new Date(champion.lastPlayTime).toLocaleDateString("default", {day: 'numeric', month: 'short', year: 'numeric'})}</h3></td>
            </tr>

        `;
    });
    container.innerHTML = content;
    console.log("Refreshed");
}
</script>
<% include partials/footer %>
